
@font-face {
    font-family: 'OptimaLTStd';
    src: url('fonts/OptimaLTStd.eot');
    src: url('fonts/OptimaLTStd.eot?#iefix') format('embedded-opentype'),
         url('fonts/OptimaLTStd.woff') format('woff'),
         url('fonts/OptimaLTStd.ttf') format('truetype'),
         url('fonts/OptimaLTStd.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
  font-family: 'OptimaLTStd';
}

#fondo{
position:  absolute;
left: 0%;
top: 0%;
width: 100%;
height: 100%;
z-index: 1;
}

#consigna{
position: absolute;
left: 3%;
top: 13%;
z-index: 2;
width: 85%;
height: 15%;
text-align: justify;
line-height: 100%;
}


.noseleccionable{

   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}